<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MailToAddressList" value="yongxing.cao@netbraintech.com"/>
    <add key="MailCCAddressList" value="yongxing.cao@netbraintech.com"/>
    <add key="TestURL" value="https://10.10.7.206/"/>
    <add key="Mongodb1" value="10.10.7.207"/>
    <add key="Mongodb2" value="10.10.7.208"/>
    <add key="MailTitle" value="NG7.1a RestAPI BVT Automation Test Results"/>
    <add key="JenkinsServer" value="http://10.10.5.26:8080/view/Daily-Install-US(10.10.7.206)/job/DailyNG70APIBVTTest/"/>
    <add key="TestResult" value="result_bvt"/>
    <add key ="SMTPuser" value="QA_Autotest@netbraintech.com"/>
    <add key ="SMTPpass" value="netbrain.1"/>
  </appSettings>
</configuration>