<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MailToAddressList" value="qa@netbraintech.com"/>
    <add key="MailCCAddressList" value="yongxing.cao@netbraintech.com;zhen.chen@netbraintech.com;Ning.Wang@netbraintech.com"/>
    <add key="TestURL" value="NgnixURL:https://10.10.7.213;WebServer1:10.10.7.209;WebServer2:10.10.7.210/"/>
    <add key="Mongodb1" value="10.10.7.211"/>
    <add key="Mongodb2" value="10.10.7.212"/>
    <add key="MailTitle" value="BVT NG7.1a RestAPI Automation Test Results"/>
    <add key="JenkinsServer" value="http://10.10.5.26:8080/view/Weekly-Install-US/job/WeeklyNG70APIBVTTest/"/>
    <add key="TestResult" value="result_bvt"/>
  </appSettings>
</configuration>