<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BaseURL" value="https://10.10.7.206" />
    <add key="AutoUserName" value="admin" />
    <add key="AutoPassword" value="admin" />
    <add key="IPListPath" value="x:\L2Topo\IPList.txt" />
    <add key="BaseLinePath" value="x:\L2Topo\L2BaseLine.csv" />
    <add key="TestResultFolder" value="c:\L2TopoTestResults" />
    <add key="NetworkSetting" value="x:\L2Topo\NetworkSetting.txt" />
    <add key="RemoteFilePath" value="\\10.10.10.9\sharedoc\QA Data\AutomationData" />
    <add key="RemoteUser" value="Administrator" />
    <add key="RemotePassword" value="nb@233" />
    <!--For FSC-->
    <add key="FSC_Name" value="test" />
    <add key="FSC_IP" value="10.10.7.206" />
    <add key="FSC_Username" value="test" />
    <add key="FSC_Password" value="test" />
    <add key="FSC_Port" value="9095" />
    <!--For FS-->
    <add key="RomoteToFSServer" value="\\10.10.7.206\c$ nb@233 /user:administrator" />
    <add key="FS_IP" value="10.10.7.206" />
    <!--For Test Data Prepare-->
    <add key="TenantName" value="TEN_TopoAuto" />
    <add key="DomainName" value="DOM_L2TopoAuto" />
    <add key="TenantNoteSize" value="2000" />
    <add key="TenantPortSize" value="500" />
    <add key="TenantCPUSize" value="500" />
    <add key="DomainNoteSize" value="500" />
    <add key="DomainPortSize" value="100" />
    <add key="DomainCPUSize" value="100" />
    <!--For API-->
    <add key="APIbaseUrl" value="/ServicesAPI" />
    <add key="APIURL_Login" value="/GenerateAccessToken" />
    <add key="APIURL_CreateTenant" value="/Admin/Tenant/upInsertTenant" />
    <add key="APIURL_CreateDomain" value="/Admin/Domain/createDomain" />
    <add key="APIURL_DeleteDomain" value="/Admin/Domain/deleteDomain" />
    <add key="Importnetworksetting" value="/networksetting/importNetworkSetting" />
    <add key="GetAllnetworksetting" value="/networksetting/getAllNetworkSetting" />
    <add key="GetAllnetworksettingIds" value="/networksetting/getAllNetworkSettingIds" />
    <add key="StartDiscover" value="/discovery/startDiscover" />
    <add key="StartBenchmarkTask" value="/snapshot/startBenchmarkTask" />
    <add key="UpInsertBenchmarkDefinition" value="/snapshot/upInsertBenchmarkDefinition" />
    <add key="FolderRoot" value="/networkos/folders/root" />
    <add key="ImportMap" value="/map/importMap/" />
    <add key="AddFSC" value="/FSCManager" />
    <add key="AddFS" value="/FSManager/fs" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDBStr" connectionString="mongodb://test:test@10.10.7.207:27017" />
    <add name="MongoDBStr1" connectionString="mongodb://test:test@10.10.7.207:27017" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>