<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MailToAddressList" value="qa@netbraintech.com"/>
    <add key="MailCCAddressList" value="Huan.Gao@netbraintech.com;yongxing.cao@netbraintech.com"/>
    <add key="TestURL" value="https://10.10.7.206/"/>
    <add key="Mongodb1" value="10.10.7.207:27017"/>
    <add key="Mongodb2" value="10.10.7.208:27017"/>
    <add key="MailTitle" value="FVT NG7.0 RestAPI Automation Test Results"/>
    <add key="JenkinsServer" value="http://10.10.5.26:8080/view/Daily-Install-US/job/DailyNG70APIFVTTest/"/>
    <add key="TestResult" value="result_fvt"/>
  </appSettings>
</configuration>